* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

p {
    display: inline;
}

#id-1 {
    background-color: rgb(123, 34, 207);
}

#id-2 {
    background-color: rgb(255, 255, 14);
}

.box1 {
    height: 50px;
    width: 85%;
    background-color: rgb(255, 235, 205);
    margin: 0 auto;
    padding: 15px;
}

.box2 {
    background-color: rgb(186, 255, 118);
    height: 50px;
    width: 75%;
    margin: 0 auto;
    padding: 15px;
}